{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <tytle><a href="{% url 'polls:index' %}"></a>My Polls App</tytle>
    <link rel="stylesheet" type="text/css" href= "{% static 'polls/css/bootstrap.min.css'%}" />
  </head>
  <body>

{% include 'polls/header.html' %}
<div class="jumbotron">
    <div class="container">

        {% block content %}
        {% endblock %}
        {% include 'polls/footer.html' %}

        </div>
    </div>


</body>
</html>